.sleep-diary-page,
.sleep-diary-page__body {
  box-sizing: border-box;
}

.sleep-diary-page {

}

.sleep-diary-page__body {
  margin: 0;
  padding: 0;

  font-family: "Raleway", "Tahoma", sans-serif;
  color: var(--color-black);

  background-color: var(--color-white);

  cursor: default;
}

.sleep-diary-page__main {
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 60px;
}

.sleep-diary-page__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
  padding: 60px 20px;
}

@media (min-width: 768px) {
  .sleep-diary-page__header {
    justify-content: flex-start;
    max-width: 1260px;
  }
}

.sleep-diary-page__heading {
  margin: 0;
  margin-bottom: 20px;

  font-size: 32px;
  line-height: 1;
}

@media (min-width: 768px) {
  .sleep-diary-page__heading {
    font-size: 40px;
  }
}

.sleep-diary-page__period {
  margin: 0;
  margin-left: auto;

  font-size: 16px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .sleep-diary-page__period {
    margin-left: 15px;
  }
}

.sleep-diary-page__section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sleep-diary-page__section:not(:last-child) {
  margin-bottom: 40px;
}

.sleep-diary-page__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 1;
}

@media (min-width: 768px) {
  .sleep-diary-page__title {
    margin-bottom: 20px;

    font-size: 20px;
  }
}

.sleep-diary-page__description {
  margin: 0;
  margin-bottom: 30px;

}

@media (min-width: 768px) {
  .sleep-diary-page__description {
    margin-bottom: 40px;
  }
}

.sleep-diary-page__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

}

@media (min-width: 768px) {
  .sleep-diary-page__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
  }
}

@media (min-width: 1100px) {
  .sleep-diary-page__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.sleep-diary-page__image {
  display: block;
  width: 540px;
  height: 517px;
  margin: 0 auto;
}
